<section id="advantages" class="advantages">
  <div class="container">
    <h2 class="visually-hidden">Vorteile des Videos für Sie</h2>
    <div id="advantages-glr" class="advantages-gallery">
      <ul class="advantages-list"></ul>
    </div>
    <button
      type="button"
      href="#formular-modal"
      class="formular-link"
      aria-label="Melden Sie sich für eine Erstberatung an"
      data-action="openForm"
    >
      <span class="formular-link-title">Erstgespräch buchen</span>
    </button>
  </div>
</section>
