<section id="problems" class="problems">
  <div class="container">
    <h2 class="problems-title">
      <span>Kennst du diese</span>
      <span>Herausforderungen?</span>
    </h2>
    <p class="problems-description">
      Hindernisse bremsen dein Unternehmen? Wir bieten effektive Lösungen!
    </p>
    <div id="problems-glr" class="problems-gallery"></div>
    <button
      type="button"
      href="#formular-modal"
      class="formular-link"
      aria-label="Melden Sie sich für eine Erstberatung an"
      data-action="openForm"
    >
      <span class="formular-link-title">Erstgespräch buchen</span>
    </button>
  </div>
</section>
