.formular-class-modal {
  position: static;
  width: 100%;
  height: 100%;
  background-color: var(--bgcolor-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: none;
  overflow-y: auto;
}

.formular-modal-content {
  background-color: rgb(17, 17, 17);
  padding: 40px 14px;
  margin: 0 auto;
  border-radius: 16px;
  width: 100%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scale(0.9);
  transition: transform 0.1s ease;
  height: fit-content;
}

@media (min-width: 768px) {
  .formular-modal-content {
    padding: 40px;
  }
}

.formular-container {
  display: grid;
  justify-content: center;
  row-gap: 20px;
  width: 100%;
  grid-template-columns: clamp(200px, 100%, 500px);
  padding-top: 20px;
  padding-inline: clamp(10px, 5vw, 30px);
  border-radius: 16px;

  @media (min-width: 768px) {
    padding-top: 35px;
    padding-bottom: 10px;
    padding-inline: clamp(0px, 2vw, 30px);
    grid-template-columns: clamp(240px, calc(50% - 15px), 500px) clamp(
        240px,
        calc(50% - 15px),
        500px
      );
    grid-template-rows: 1fr auto;
    column-gap: 30px;
  }

  @media (min-width: 1024px) {
    row-gap: 30px;
    column-gap: clamp(30px, 4vw, 100px);
  }
}

.formular-title {
  line-height: 1.1;
}

.inputblock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 20px;
}

.formular-input-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  line-height: 1.5;
}

.formular-label,
label {
  align-self: flex-start;
  display: block;
  margin-bottom: 8px;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  padding-left: 12px;
  color: #ffffff;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  padding: 10px 12px;
  font-size: 0.9rem;
  letter-spacing: 1px;
  background-color: var(--token-6aa2c91d-3eef-4470-885f-78bce3b1b77d);
  border: 1px solid white;
  color: white;
  border-radius: 10px;
  transition:
    border-color 0.2s,
    box-shadow 0.2s;

  @media (min-width: 768px) {
    padding: 12px;
    font-size: 1rem;
    line-height: 1.5;
  }
}

textarea {
  width: 100%;
  height: 100px;
  padding: 12px;
  font-size: 0.9rem;
  letter-spacing: 1px;
  background-color: var(--token-6aa2c91d-3eef-4470-885f-78bce3b1b77d);
  border: 1px solid white;
  color: white;
  border-radius: 10px;
  resize: none;
  overflow: hidden;
  transition:
    border-color 0.2s,
    box-shadow 0.2s;

  @media (min-width: 768px) {
    height: 140px;
    margin-top: 10px;
    line-height: 1.5;
    font-size: 1rem;
  }
}

textarea::placeholder {
  color: var(--token-6aa2c91d-3eef-4470-885f-78bce3b1b77d);
}

textarea:focus {
  outline: none;
  box-shadow: 0 0 20px rgb(230, 73, 11);
}

input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

input:focus {
  outline: none;
  box-shadow: 0 0 20px rgb(230, 73, 11);
}

/* CTA BUTTON */
.formular-cta-button {
  justify-self: center;
  margin-top: 20px;

  @media (min-width: 768px) {
    grid-column: 1 / -1;
    grid-row: 2;
    margin-top: 10px;
  }
}

.close-button {
  display: none;
  position: absolute;
  width: 24px;
  height: 24px;
  padding: 0;
  top: 20px;
  right: 20px;
  font-size: 1.5rem;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  z-index: 29999;

  @media (min-width: 768px) {
    width: 40px;
    height: 40px;
  }
}

.close-button svg {
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
  transition: transform 0.5s ease;
}

.fixed-modal {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  opacity: 0;
  scale: 0;
  animation: hide 0.3s linear forwards;

  @media (min-width: 768px) {
    justify-content: center;
  }
}

.fixed-modal.active {
  opacity: 1;
  scale: 1;
  animation: show 0.3s linear forwards;
}

.show-button {
  display: flex;

  &:hover svg {
    color: red;
    transform: rotate(225deg);
  }
}

@keyframes show {
  from {
    opacity: 0;
    scale: 0;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes hide {
  from {
    opacity: 1;
    scale: 1;
  }
  to {
    opacity: 0;
    scale: 0;
  }
}
